html,
body {
  padding: 0;
  margin: 0;
  background: #F5F5F5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bg-primary {
  background: #02575B;
}

.bg-secondary{
  background: #F2FAFF;
}

.bg-tertiary{
  background: #FFF1EB;
}

.bg-primary:hover {
  background: #014144;
}

.text-primary{
    color: #02575B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}